body {
    background: #303030 url(images/mark-solarski.jpg) fixed center;
    background-size: cover;
    }

#calculator-container {
    width: 550px;
    margin: 80px auto 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cbb7ff;
    box-shadow: 0 10px 10px -5px #0a0d28;  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    }

form input {
    padding: 10px;
    margin: 10px 0;
    }
        
form input[type="number"] {
    width: 40px;           
    border: 1px solid #0a0d28;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
        
form input[type="button"]:hover {
    background-color: #fcfcfc;
    }
        
#equals, output {
    display: inline;
    }
        
output {
    background-color: #fff;
    border: 1px solid #0a0d28;
    padding: 9px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
        
#clearButton {
    display: block;
    background-color: #2d31ff;
    color: #ebe8fc;
    margin: 5px auto;
    border: 1px solid #0a0d28;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
      
#clearButton:hover {
    background-color: #7072ff;
}

#clearButton:active {
    background-color: #1417ad;
}